.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.legend{
  float: right;
}

.axis-labels{
  font-family: 'Open Sans', sans-serif;
  font-size: 8pt;
  color: gray;
}